/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}


div .a1
{
  margin-top: 300px !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#message {
    display:none;
    color: #000;
    position: relative;
    padding: 10px;
    font-size: .875em;
  }

  #message p {
    font-size: 10;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }

  .valid:before {
    content: '\2713';
    display: inline-block;
    color: green;
    padding: 0 6px 0 0;
  }

  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }

  .invalid:before {
    content: '\0078';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
  }

