{% extends "layout.html" %}

{% block script %}{% endblock %}

{% block title %}
    Ticker
{% endblock %}

{% block main %}


  <!-- Query symbol -->
  <div class="container-fluid bg-light">
      <h3 class="text-center text-primary pt-4">Search quote!</h3>
      <div class="row justify-content-center">
          <div class="py-5 col-5">
              <form action="/" method="post">
                  <div class="input-group input-group-lg">
                      <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                      </span>
                      <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Symbol" required>
                      <button class="btn btn-primary" id="symbolSubmit" name="symbolSubmit" type="submit">Search</button>
                  </div>
                  <div class="form-text fw-lighter">Enter symbol's name ex: Netflix's symbol is NFLX!</div>
              </form>
          </div>
      </div>
  </div>

  <div class="container">

    <!-- Ticker short info -->
    <div class="row text-start">
      <div class="col-6">
        <h3 class="fw-bold lh-1"> {{ etf.price[symbol]['longName'] }} ({{ symbol }}) </h3>
        <p class="lh-1">
          <small> <span class="text-secondary">Exchange: </span> <span class="text-primary">{{ etf.price[symbol]['exchangeName'] }}.</span> <span class="text-secondary">Currency: </span> <span class="text-primary">{{ etf.price[symbol]['currency'] }}</span>
          </small>
        </p>

      <h3 class="fw-bold pt-1 pb-4 lh-1">
        {{ '%0.2f' % etf.price[symbol]['regularMarketPrice']|float }}
      </h3>
      <!-- <p class="lh-1 pb-3 text-secondary">
        <small>
          Market price
        </small>
      </p> -->
    </div>
  </div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="holdings-tab" data-bs-toggle="tab" data-bs-target="#holdings" type="button" role="tab" aria-controls="holdings" aria-selected="true">Holdings</button>
      </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

      <!-- Holdings tab -->
      <div class="tab-pane active bg-body" id="holdings" role="tabpanel" aria-labelledby="holdings-tab">
        <div class="row px-5 pt-5 pb-3">
          <div class="text-start">
            <h5 class="fw-bold text-primary">Top 10 Holdings</h5>
            {{ f_h_info|safe }}
          </div>

      </div>

      <div class="tab-pane active bg-body" id="holdings" role="tabpanel" aria-labelledby="holdings-tab">
        <div class="row px-5 pt-5 pb-3">
          <div class="text-start">
            <h5 class="fw-bold text-primary">Sector Weightings (%)</h5>
            <table class="table">
              <thead>
                <th>
                  Sector(s)
                </th>
                <th>
                  {{ symbol }}
                </th>
              </thead>
              <tbody>
                {% for row in etf.fund_holding_info[symbol]['sectorWeightings'] %}
                  {% for val in row %}
                    <tr>
                      <td>
                          {{ val }}
                      </td>
                      <td>
                          {% set value = (row[val]) * 100 %}
                          {{ '%0.2f' % value|float }} %
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>


{% endblock %}
